*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

.main__video-section h2{
    text-align: center;
    font-size: 1.5rem;
    padding: 24px;
}

.video-container video{
    width: 100%;
    border-radius: 16px;
}

html,
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.footer__general-container{
    background-color: #38e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 16px;
    text-align: center;
    margin-top: 16px;
}